/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar{
  background: linear-gradient(to right, #0b1fae, #1e40ff);
  color:white;
  padding:18px;
  font-weight:bold;
}

/* LAYOUT */
.container{
  display:flex;
  min-height:80vh;
}

/* LEFT PANEL */
.left-panel{
  flex:1;
  background:#a9bdd4;
  padding:70px;
}

.left-panel h1{
  margin-bottom:20px;
}

.left-panel p{
  max-width:420px;
  line-height:1.6;
  font-size:15px;
}

/* RIGHT PANEL */
.right-panel{
  flex:1;
  background:#c3cfdb;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.right-panel h2{
  margin-bottom:25px;
}

/* FORM */
form{
  width:280px;
}

.input-group{
  margin-bottom:15px;
  position:relative;
}

input{
  width:100%;
  padding:10px;
  border-radius:6px;
  border:1px solid #6b8db3;
}

/* eye icon */
.toggle-password{
  position:absolute;
  right:10px;
  top:8px;
  cursor:pointer;
}

/* forgot */
.forgot{
  display:block;
  text-align:right;
  font-size:12px;
  margin-bottom:20px;
  color:#333;
  text-decoration:none;
}

/* buttons */
.btn{
  width:100%;
  padding:8px;
  border:none;
  border-radius:5px;
  color:white;
  cursor:pointer;
  margin-top:5px;
}

.login-btn{
  background:#1e6fe8;
}

.signup-btn{
  background:#1e6fe8;
}

.btn:hover{
  opacity:0.85;
}

/* divider */
hr{
  margin:15px 0;
}

/* FOOTER */
.footer{
  background:#0b1fae;
  color:white;
  text-align:center;
  padding:20px;
}
